.main-container{
    // background-color: beige;
    width: 100%;
    height: 92vh;
    .container{
        .row{
            flex-direction: column;
            .form-container{
                height: 15%;
                width: 100%;
                // background-color: pink;
                display: flex;
                
                form{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        height: 25%;
                        padding: 0;
                        margin: 0;
                        width: 30%;
                        border-radius: 5px;
                        border: 1px solid gray;
                        font-size: 1.3rem;
                    }
                    button{
                        width: 20%;
                        height: 30%;
                        padding: 0;
                        margin: 0;
                        font-size: 1.5rem;
                        border-radius: 5px;
                        border: 1px solid gray;
                        background-color: honeydew;
                        opacity: 0.7;
                    }
                    .react-select-container{
                        width: 30%;
                        font-size: 1.3rem;
                    }

                }
            }
            .container-items{
                display: flex;
                justify-content: space-between;
                height: 100%;
                // background-color: hotpink;
                padding: 0;
                margin: 0;
                width: 100%;
                .specs-container{
                    width: 45%;
                    height: 80%;
                    // background-color: red;
                    display: flex;
                    flex-direction: column;
                    .plug-label{
                        font-size: 2.2rem;
                        margin-bottom: 2rem;
                    }
                    .plug-specs{
                        display: flex;
                        width: 100%;
                        ul{
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            width: 100%;
                            li{
                                // background-color: hotpink;
                                display: flex;
                                width: 80%;
                                justify-content: space-between;
                                span{
                                    font-size: 1.4rem;
                                    text-transform: uppercase;
                                    width: 50%;
                                    .info-text{
                                    }
                                    .info-info{
        
                                    }
                                }
                            }
                        }
                    }
                }
                .other-container{
                    width: 45%;
                    height: fit-content;
                    background-color: red;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .brand-button-header{
                        width: 90%;
                        height: 3rem;
                        background-color: indianred;
                        margin-bottom: 0.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .brand-label{
                            font-size: 1.5rem;
                        }
                        .numberofitems{
                            font-size: 1.3rem;
                        }
                        button{
                            font-size: 1.3rem;

                        }
                    }
                    .brand-specs-container{
                        width: 90%;
                        height: fit-content;
                        max-height: 40%;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        // background-color: blue;
                        margin-bottom: 0.5rem;
                        ol{
                            width: 100%;
                            height: 100%;
                            // padding: 0;
                            margin: 0;
                            // list-style: square;
                            // display: flex;
                            display: flex;
                            flex-wrap: wrap;
                            li{
                                font-size: 1.35rem;
                                // background-color: khaki;
                                width: fit-content;
                                margin-bottom: 0.35rem;
                                margin-top: 0.35rem;
                                padding: 0;
                                // list-style: none;
                                margin-right: 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}